.ui-collapsible-content {
  overflow: hidden;
}

.ui-collapsible-content[data-state='open'] {
  animation: ui-collapsible-slide-down 0.2s ease-out;
}

.ui-collapsible-content[data-state='closed'] {
  animation: ui-collapsible-slide-up 0.2s ease-out;
}

@keyframes ui-collapsible-slide-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes ui-collapsible-slide-up {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}
